@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
#timer {
    font-family: 'JetBrains Mono', monospace;
    color: red;
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
}
#prompt {
    color: red;
    text-align: center;
}
.body {
    background-color: #444;
}


.questions {
    font-size: large;
    color: #fff;
}
.container {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    padding-top: 100px;
}
