@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
.body {
    background-color: #444;
}

#timer {
    font-family: 'JetBrains Mono', monospace;
    color: red;
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
}

.container {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    padding-top: 100px;
}

#prompt {
    color: red;
    text-align: center;
}

.questions {
    font-size: large;
    color: #fff;
}

.results {
    font-size: 40px;
    color: red;
}

